/* Header.css */
.header {
  margin: 0 auto;
  padding: auto;
  display: flex;
  justify-content: space-around;
}

.logo-container {
  display: flex;
  align-self: auto;
}

.logo {
  min-height: clamp(50px, 10vw, 100px);
  margin: clamp(10px, 2vw, 20px) clamp(10px, 2vw, 20px) clamp(10px, 2vw, 20px) 0;
  padding: clamp(2px, 0.5vw, 4px) clamp(4px, 1vw, 8px) clamp(2px, 0.5vw, 4px) clamp(4px, 1vw, 8px);
}

.mobile-nav-toggle {
  display: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.mobile-nav-toggle:hover {
  color: #E50D0E
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 1rem;
}
 
.nav-list ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-list li {
  display: flex;
  align-items: center;
}

.nav-list li:hover {
  border-bottom: 2px solid #fff;
}

.nav-list li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
}

.nav-list li a:hover {
  color: #E50D0E;
}


.nav-list li a.active {
  border-bottom: 2px solid #fff;
  /* highlight active page */
}


@media (max-width: 768px) {
  .mobile-nav-toggle {
    display: block;
  }

  .nav-list {
    display: none;
    flex-direction: column;
    gap: 0.5rem;
    transition: max-height 0.3s ease-in-out;
  }

  .nav-list.mobile-nav-open {
    display: flex;
  }
}